* {
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 0;
  z-index: 10;
}

header div nav a {
  color: white;
}
header div nav button {
  background-color: white;
  color: black;
  padding: 10px 25px 10px 25px;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
}
header div .left {
  display: flex;
  gap: 20px;
}
header div .right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.background-layer .layer-one {
  position: absolute;
  top: 100px;
  right: 300px;
  z-index: 9;
  transform: scale(0.8);
  transform-origin: top right;
}
.background-layer .layer-two {
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 8;
  transform: scale(0.8);
  transform-origin: top right;
}
.background-layer .layer-three {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 7;
  transform: scale(0.8);
  transform-origin: top right;
}
.background-layer .layer-four {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 6;
  transform: scale(0.8);
  transform-origin: top right;
}
.background-layer .layer-five {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  transform: scale(0.8);
  transform-origin: top right;
}
.background-layer .layer-six {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  transform: scale(0.8);
  transform-origin: top right;
}

.hero-text {
  position: absolute;
  top: 220px;
  left: 100px;
  width: 26%;
}
.hero-text .header {
  font-size: 10px;
  font-weight: 500;
  color: #2278d4;
  margin-bottom: -15px;
}
.hero-text .title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
}
.hero-text .description {
  font-size: 11px;
  font-weight: 200;
}
.hero-text button {
  background-color: #22a75d;
  color: white;
  padding: 10px 25px 10px 25px;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  margin-top: 20px;
}

.creator-hodlers-section {
  position: absolute;
  top: 800px;
  z-index: 10;
  display: flex;
  justify-content: center;
}
.creator-hodlers-section .centered-section {
  display: flex;
  justify-content: space-between;
  width: 80%;
  gap: 10px;
}
.creator-hodlers-section .centered-section .element {
  text-align: center;
  background-color: #f2f0f4;
  border-radius: 20px;
  padding: 50px 50px 0px 50px;
  width: 50%;
  opacity: 0.98;
  height: 636px;
}
.creator-hodlers-section .centered-section .element .number {
  font-size: 8px;
  font-weight: 200;
}
.creator-hodlers-section .centered-section .element .title {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
}
.creator-hodlers-section .centered-section .element .title span {
  text-decoration: underline;
}
.creator-hodlers-section .centered-section .element .description {
  font-size: 12px;
  font-weight: 200;
}
.creator-hodlers-section .centered-section .element .creators-img {
  width: 35%;
  margin-top: 67px;
}
.creator-hodlers-section .centered-section .element .holders-img {
  width: 35%;
  margin-top: 20px;
}

.layer-five {
  position: absolute;
  top: 1090px;
  right: 0;
  z-index: 2;
  transform: scale(0.8);
  transform-origin: top right;
}

.layer-six {
  position: absolute;
  top: 1500px;
  right: 0;
  z-index: 2;
  transform: scale(0.8);
  transform-origin: top right;
}

.layer-seven {
  position: absolute;
  top: 1550px;
  left: 150px;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
  color: white;
}
.layer-seven .title {
  font-size: 32px;
  font-weight: 600;
  width: 70%;
  margin-top: -12px;
}
.layer-seven div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.layer-seven div p {
  font-size: 11px;
  font-weight: 200;
  margin-top: -12px;
  width: 55%;
}
.layer-seven div p span {
  font-weight: 400;
}

.layer-eight {
  position: absolute;
  left: 100px;
  top: 2200px;
  z-index: 3;
  width: 1485px;
  transform: scale(0.8);
  transform-origin: top left;
}
.layer-eight .quarters {
  display: flex;
  gap: 321px;
  margin-bottom: -10px;
  margin-left: -3px;
}
.layer-eight .quarters .quarter .text {
  font-size: 16px;
  font-weight: 700;
  color: #22a75d;
}
.layer-eight .quarters .quarter .value {
  font-size: 36px;
  font-weight: 500;
  color: #191b21;
  margin: 0px;
}
.layer-eight .quarter-texts {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.layer-eight .quarter-texts .quarter-text {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.layer-eight .quarter-texts .quarter-text div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 20px;
}
.layer-eight .quarter-texts .quarter-text div span {
  color: #2278d4;
  font-weight: 700;
  font-size: 12px;
}
.layer-eight .quarter-texts .quarter-text div p {
  color: #191b21;
  font-weight: 400;
  font-size: 16px;
  margin: 5px 0px 5px 0px;
}

.layer-nine {
  position: absolute;
  right: 15px;
  top: 2155px;
  z-index: 4;
  transform: scale(0.7);
  transform-origin: top right;
}

.layer-ten {
  position: absolute;
  top: 2500px;
  right: 0;
  z-index: 2;
  transform: scale(0.8);
  transform-origin: top right;
}

.layer-ten-content {
  position: absolute;
  top: 2800px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.layer-ten-content div {
  padding: 100px;
  width: 50%;
}
.layer-ten-content div .title {
  font-size: 28px;
  font-weight: 500;
}
.layer-ten-content div p {
  font-size: 11px;
  font-weight: 200;
}
.layer-ten-content div p span {
  font-weight: 400;
}
.layer-ten-content .back-demo {
  margin-top: 50px;
  height: 700px;
  background-image: url("../../../media/header-layer-10.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.layer-ten-content .back-demo .layer-11 {
  position: absolute;
  width: 12%;
  top: 100px;
  right: 500px;
  z-index: 3;
}
.layer-ten-content .back-demo .layer-12 {
  position: absolute;
  width: 20%;
  top: 500px;
  right: 100px;
  z-index: 3;
}
.layer-ten-content .back-demo .layer-13 {
  position: absolute;
  width: 40%;
  top: 200px;
  right: 300px;
  z-index: 3;
}

.layer-eleven {
  position: absolute;
  top: 3600px;
  right: 0;
  z-index: 1;
  transform: scale(0.8);
  transform-origin: top right;
}

footer {
  position: absolute;
  top: 3900px;
  padding: 30px;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}
footer .top {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
footer .top a {
  font-size: 12px;
  font-weight: 700;
  color: white;
}
footer .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
}
footer .bottom .left a img {
  width: 80%;
}
footer .bottom .middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
footer .bottom .middle img {
  padding: 6px;
  border: 3px solid #28213e;
  border-radius: 50%;
}
footer .bottom .right {
  color: white;
  text-align: right;
}
footer .bottom .right div {
  color: #8e8a99;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}/*# sourceMappingURL=style.css.map */