/* attribute-selector-1.html */
a[download] {
    background-color: burlywood;
    color: darkblue;
    border-radius: 10%;
    text-decoration: none;
}

/* attribute-selector-2.html */
input[type="password"] {
    background-color: lightgray;
    border: 2px solid yellow;
    width: 20%;
}

/* attribute-selector-3.html */
div[class~="featured"] {
    background-color: lightgreen;
    border: 2px solid green;
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

/* attribute-selector-4.html */
a[href^="https"] {
    background-color: lightgreen;
    border: 2px solid green;
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

/* attribute-selector-5.html */
li[data-item-id*="product"] {
    background-color: lightblue;
    border-left: 2px solid blue;
    padding: 10px;
}